# Database
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Auth
JWT_SECRET=
JWT_ALGORITHM=
JWT_EXPIRE_HOURS=

# Google OAuth
GOOGLE_CLIENT_ID=

# App
APP_ENV=<development|production>
DEBUG=<true|false>
